* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 1px solid lightgreen;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.testimonials-page {
  max-width: 70rem;
  width: 100%;
  display: grid;
  /* place-content: center; */
  gap: 2rem;
}

.testimonial {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.user-profile {
  display: flex;
  gap: 1.063rem;
}

.user-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
